.pagination {
    display: flex;
    align-items: center;
    margin: 20px 0;
    list-style: none;
}

.pagination__link {
    padding: 2px 10px;
    border: 1px solid var(--primary-color);
    font-size: 10px;
    font-weight: 600;
    transition: 0.2s ease;
}

.pagination__link:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.pagination__link.active {
    background-color: var(--primary-color);
    color: #fff;
}