.BlogCard {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.BlogCard img {
  height: 300px;
  width: 100%;
  object-fit: center;
}

.Blog__text {
  padding: 20px 10px;
}

.Blog__text h2 {
  font-size: 1rem;
}

.Blog__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Blog__detail span {
  font-weight: 600;
}

.button__div {
  margin-top: 20px;
}
