.hero__container {
  /* background-color: rgb(17, 153, 94); */
  background-image: linear-gradient(rgba(146, 251, 206, 0.5), rgba(108, 248, 187, 0.7)), url(../../assets/images/money.jpg);
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

/* .hero__container::after, .hero__container::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(#92fbce, #6cf8bb);
  opacity: 0.25;
  z-index: 3;
} */

.hero {
  min-height: 30vh;
  padding: 20px 0;
  position: relative;
  z-index: 4;
  /* color: #fff; */
}

.hero__text p {
  max-width: 50ch;
}

.hero__text h1 span {
  color: var(--secondary-color);
}

.learn__more {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.about__us {
  padding: 20px 0;
}

.about__us h1 {
  text-align: center;
}

.about__us p {
  max-width: 60ch;
}

.about__us img {
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
}

.services h1 {
  text-align: center;
}

.services__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .services__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.service {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-start;
  grid-gap: 20px;
  box-shadow: 1px 1px 1px 2px #ebebeb;
  border-radius: 10px;
  padding: 20px 5px;
  background-color: #fff;
}

.service h2 {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0;
}

.service i {
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.service i:hover {
  background-color: var(--dark-green);
}

.text__center {
  text-align: center;
  margin-top: 20px;
}
